@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;700&family=Source+Sans+Pro:wght@300;400&display=swap');

@import 'helpers/mixins';
@import 'helpers/variables';
@import 'helpers/position';
@import 'helpers/mouse';

//components
@import 'components/base';
@import 'components/button';

.container {
    @include flex($justify: center, $wrap: wrap);
}

.price {
    max-width: 36.2rem;
    margin-top: 8rem;
    width: 100%;
    &:not(:last-child) {
        margin-right: 4rem;
    }

    &-circle {
        @include size(12rem, 12rem);
        @include flex($justify: center, $direction: column);
        top: -6rem;
        left: 50%;
        border-radius: 50%;
        background-color: white;
        transform: translateX(-50%);
        z-index: 2;
    }

    &-per {
        color: $sm-color;
    }

    &-count {
        color: $first-color;
        margin-bottom: 0.5rem;
    }

    &-new {
        @include size(7rem, 7rem);
        @include flex($justify: center);
        top: -1.5rem;
        left: -1.5rem;

        &::before {
            content: '';
            position: absolute;
            @include size(100%, 100%);
            @include background('newmark');
            top: 0;
            left: 0;
            z-index: 2;
        }

        span {
            font-family: 'Montserrat';
            text-transform: uppercase;
            color: white;
            z-index: 4;
        }
    }

    &-background {
        @include size(100%, auto);
        @include flex(center, $direction: column);
        max-height: 27rem;
        color: white;
        padding: calc(27rem / 2) 0;

        &::before {
            content: '';
            position: absolute;
            @include size(100%, 100%);
            @include background('ocean', no-repeat);
            top: 0;
            left: 0;
            z-index: -1;
        }

        &-title {
            font-family: 'Montserrat';
        }
    }

    &-details {
        @include size(100%, auto);
        @include flex($direction: column);
        background-color: white;
        overflow: hidden;

        &-title {
            @include flex($direction: column);
            padding: 2.5rem 0;

            .lg-title {
                color: $lg-color;
                padding-bottom: 0.2rem;
            }

            .sm-title {
                color: $sm-color;
            }
        }

        &-text {
            @include flex($direction: column);
            @include size(100%, auto);

            span {
                @include size(100%, auto);
                display: inline-block;
                color: $detail-text-color;
                padding: 1.5rem 0;
                text-align: center;

                &:nth-child(odd) {
                    background-color: $detail-bg-color;
                }
            }
        }
    }

    @each $image, $color, $back in $images {
        $index: index($images, ($image $color $back));
        &:nth-child(#{$index + 1}) {
            .price-background::before {
                @include background($image, no-repeat);
            }

            .price-circle {
                background-color: $back;
            }

            .price-count,
            .btn-line {
                color: $color;
            }
        }
    }
}

.overlay {
    background-color: rgba(44, 46, 61, 0.5);
}

@media screen and (max-width: 796px) {
    .container {
        flex-direction: column;
    }

    .price:not(:last-child) {
        margin-right: 0;
    }
}
