* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

html {
    font-size: 62.5%;
}

:root {
    --primary: #2196f7;
    --second: #c0418c;
    --third: #76c869;
    --second-circle: #2c2e3d;
    --lg-color: #748590;
    --sm-color: #99a9b5;
    --detail-text-color: #5f727f;
    --detail-bg-color: #f4f6f7;
}

body {
    background-color: gray;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.price {
    max-width: 36.2rem;
    margin-top: 8rem;
    width: 100%;
    position: relative;
}

.price:not(:last-child) {
    margin-right: 4rem;
}

.price-circle {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: -6rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.price-count {
    color: var(--primary);
    font-size: 3rem;
    margin-bottom: 0.5rem;
    font-weight: lighter;
}

.price-per {
    font-size: 1.6rem;
    color: #99a9b5;
}

.price-new {
    width: 7rem;
    height: 7rem;
    position: absolute;
    left: -1.5rem;
    top: -1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-new span {
    text-transform: uppercase;
    color: white;
    z-index: 4;
    font-weight: bold;
    font-size: 1.3rem;
    font-family: 'Montserrat';
}

.price-new::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./images/newmark.png');
    background-repeat: no-repeat;
    z-index: 2;
    background-size: cover;
}

.overlay {
    background-color: rgba(44, 46, 61, 0.5);
}

.price-background {
    height: 27rem;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.price-background-title {
    font-size: 4rem;
    font-family: 'Montserrat';
    font-weight: 200;
}

.price-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./images/ocean.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.price-details {
    background-color: white;
    height: calc(100% - 27rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.price-details-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 0;
}

.price-details-title .lg-title {
    font-size: 2.4rem;
    font-weight: lighter;
    color: var(--lg-color);
    padding-bottom: 0.2rem;
}

.price-details-title .sm-title {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--sm-color);
}

.price-details-text {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.price-details-text .text {
    display: inline-block;
    color: var(--detail-text-color);
    padding: 1.5rem 0;
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
}

.price-details-text .text:nth-child(odd) {
    background-color: var(--detail-bg-color);
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5.5rem 0;
    padding: 0.8rem 3.5rem;
    transition: all 0.2s linear;
    cursor: pointer;
}

.btn-blue {
    color: var(--primary);
}

.btn-line {
    border: 0.1rem solid currentColor;
}

.btn:hover {
    background-color: currentColor;
}

.btn:hover span {
    color: white;
}

.btn span {
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.9rem;
    font-weight: 200;
}

.price:nth-child(2) .price-background::before {
    background-image: url('./images/mountain.png');
    background-size: cover;
}

.price:nth-child(2) .price-circle {
    background-color: var(--second-circle);
}

.price:nth-child(2) .price-count {
    color: var(--second);
}

.price:nth-child(2) .btn-line {
    color: var(--second);
}

.price:nth-child(3) .price-background::before {
    background-image: url('./images/forest.png');
    background-size: cover;
}

.price:nth-child(3) .price-count {
    color: var(--third);
}

.price:nth-child(3) .btn-line {
    color: var(--third);
}

@media screen and (max-width: 796px) {
    .container {
        flex-direction: column;
    }

    .price:not(:last-child) {
        margin-right: 0;
    }
}
