* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

html {
    font-size: 62.5%;
}

:root {
    --primary: #2196f7;
    --second: #c0418c;
    --third: #76c869
}

body {
    background-color: gray;

}

.container {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.price {
    width: 362px;
    height: 770px;
    position: relative;
}

.price:not(:last-child) {
    margin-right: 4rem;
}

.price-circle {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: -6rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.price-count {
    color: var(--primary);
    ;
    font-size: 3rem;
    font-weight: normal;
    margin-bottom: 0.5rem;
    font-family: 'Source Sans Pro';
    font-weight: lighter;
}

.price-per {
    font-size: 1.6rem;
    color: #99a9b5;
    font-weight: 400;
}

.price-new {
    width: 7rem;
    height: 7rem;
    position: absolute;
    left: -1.5rem;
    top: -1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-new span {
    text-transform: uppercase;
    position: absolute;
    color: white;
    z-index: 4;
    font-weight: bold;
    font-size: 1.3rem;
    font-family: 'Montserrat';
    font-weight: bold;
}

.price-new::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./images/newmark.png");
    background-repeat: no-repeat;
    z-index: 2;
    background-position: center center;
}

.overlay {
    background-color: rgba(44, 46, 61, 0.5);
}

.price-background {
    height: 27rem;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.price-background-title {
    font-size: 4rem;
    font-family: 'Montserrat';
    font-weight: 200;
    /* font-weight: normal; */
}

.price-background-text {
    font-size: 1.3rem;
    font-weight: 400;
}

.price-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./images/ocean.png");
    background-repeat: no-repeat;
    z-index: -1;
}

.price-details {
    background-color: white;
    height: calc(100% - 27rem);
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.price-details-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 0;
}

.price-details-title .lg-title {
    font-size: 2.4rem;
    font-weight: lighter;
    color: #748590;
    padding-bottom: 0.2rem;
}

.price-details-title .sm-title {
    font-size: 1.4rem;
    font-weight: 400;
    color: #99a9b5;
}


.price-details-text {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.price-details-text .text {
    display: inline-block;
    color: #5f727f;
    padding: 1.5rem 0;
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
}

.price-details-text .text:nth-child(odd) {
    background-color: #f4f6f7;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    padding: 0.8rem 3.5rem;
    transition: all 0.2s linear;
    cursor: pointer;
}

.btn-blue {
    color: var(--primary);
}

.btn-line {
    border: 1px solid currentColor;
}

.btn:hover {
    background-color: currentColor;
}

.btn:hover span {
    color: white;
}

.btn span {
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.9rem;
    font-weight: 200;
}

.price:nth-child(2) .price-background::before {
    background-image: url("./images/mountain.png");
}

.price:nth-child(2) .price-circle {
    background-color: #2c2e3d;
}

.price:nth-child(2) .price-count {
    color: var(--second);
}

.price:nth-child(2) .btn-line {
    /* background-color: var(--second); */
    color: var(--second);
}

.price:nth-child(3) .price-background::before {
    background-image: url("./images/forest.png");
}

.price:nth-child(3) .price-count {
    color: var(--third);
}

.price:nth-child(3) .btn-line {
    color: var(--third);
}
@media screen and (max-width: 1219px) {
    .container {
        padding: 10rem 0 10rem 0;
    }
    .price {
        width: 30%;
        padding: 0;
    }

    .price:not(:last-child) {
        margin-right: 3rem;
    }
}

@media screen and (max-width: 991px) {
    .container {
        padding: 10rem 0 10rem 0;
    }

    .price {
        width: 31%;
        height: 70rem;
        padding: 0;
    }

    .price:not(:last-child) {
        margin-right: 2rem;
    }

    .price-background {
        height: 23rem;
    }

    .price-details {
        height: calc(100% - 23rem);
    }

    .price-details-title .sm-title {
        font-size: 1.2rem;
    }

    .price-background-title {
        font-size: 3.2rem;
    }

    .btn {
        margin: 4rem;
    }

    .btn span {
        font-size: 1.8rem;
    }

}

@media screen and (max-width: 767px) {
    .price {
        width: 32%;
        height: 50rem;
        padding: 0;
    }

    .price:not(:last-child) {
        margin-right: 1rem;
    }

    .price-background {
        height: 15rem;
    }

    .price-details {
        height: calc(100% - 15rem);
    }

    .price-details-title .sm-title {
        font-size: 1rem;
    }

    .price-background-title {
        font-size: 2.5rem;
    }

    .price-background-text {
        font-size: 1rem;
    }

    .price-background::before {
        background-position: center;
    }

    .price-circle {
        width: 6rem;
        height: 6rem;
        top: -3rem
    }

    .price-count {
        font-size: 2rem;
        margin: 0;
    }

    .price-per {
        font-size: 1rem;
    }

    .price-new {
        width: 4rem;
        height: 4rem;
        left: -1rem;
        top: -1rem;
        display: flex;
    }

    .price-new span {
        font-size: 0.8rem;
    }

    .price-new::before {
        background-size: 90%;
        background-size: cover;
    }

    .price-details-title {
        padding: 1.2rem;
    }

    .price-details-title .lg-title{
        font-size: 2rem;
    }

    .price-details-title .sm-title{
        font-size: 0.7rem;
    }

    .price-details-text .text {
        font-size: 1.5rem;
        padding: 1rem;
    }

    .btn {
        margin: 2.8rem;
    }

    .btn span {
        font-size: 1.5rem;
    }

}


@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        padding: 10rem 0 10rem 0;
    }

    .container .price {
        width: 100%;
        height: 60rem;
    }

    .price:not(:last-child) {
        margin-bottom: 8rem;
    }

    .price-new {
        width: 5rem;
        height: 5rem;
        left: 1rem;
        top: -2.5rem;
    }
    
    .price-new span {
        font-size: 1.3rem;
    }

    .price-circle {
        width: 9rem;
        height: 9rem;
        top: -4.5rem;
    }

    .price-count {
        font-size: 3rem;
    }

    .price-per {
        font-size: 1.5rem;
    }

    .price-background-title {
        font-size: 4rem;
    }

    .price-background-text {
        font-size: 1.3rem;
    }
    
    .price-background {
        height: 20rem;
    }

    .price-details {
        height: calc(100% - 20rem);
    }

    .price-background::before {
        background-size: cover;
    }

    .price-details-title {
        padding: 1.5rem;
    }

    .price-details-title .lg-title {
        font-size: 2.4rem;
    }

    .price-details-title .sm-title {
        font-size: 1.4rem;
    }

    .price-details-text .text {
        padding: 1.3rem;
        font-size: 1.6rem;
    }
}