* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
}

body {
    background-color: rgb(238, 238, 238);
}
