.btn {
    @include flex($justify: center);
    margin: 5rem 0;
    padding: 0.8rem 3.5rem;
    transition: all 0.2s linear; 

    &:hover {
        background-color: currentColor;

        span {
            color: white;
        }
    }

    span {
        display: inline-block;
        text-transform: uppercase;
    }

    &-blue {
        color: $first-color;
    }

    &-line {
        border: 0.1rem solid currentColor;
    }
}