@mixin flex($justify: flex-start, $align: center, $direction: row, $wrap: nowrap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    flex-wrap: $wrap;
}

@mixin size($width: 1rem, $height: 1rem) {
    width: $width;
    height: $height;
}

@mixin font($size: 1.4rem, $weight: normal, $family: 'Source Code Pro') {
    font : {
        size: $size;
        weight: $weight;
    }

    @if($family == 'Montserrat') {
        font-family: $family;
    }
}

@mixin background($image: '', $repeat: repeat, $position: center, $size: cover) {
    background : {
        image: url("../images/#{$image}.png");
        repeat: $repeat;
        position: $position;
        size: $size;
    }
}


