@mixin flex($justify: flex-start, $align: center, $direction: row, $wrap: nowrap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    flex-wrap: $wrap;
}

@mixin size($width: 1rem, $height: 1rem) {
    width: $width;
    height: $height;
};

@mixin background($image: '', $repeat: repeat, $position: center, $size: cover) {
    background : {
        image: url('../images/#{$image}.png');
        repeat: $repeat;
        position: $position;
        size: $size;
    }
};

$font-size: (
    '12': 1.2,
    '14': 1.4,
    '16': 1.6,
    '18': 1.8,
    '20': 2,
    '24': 2.4,
    '30': 3,
    '40': 4,
    '60': 6,
    '70': 7,
    '80': 8,
    '90': 9,
);

$font-weight: (
    normal bold 200 400 300 700
);

@each $key, $value in $font-size {
    .text-#{$key} {
        font-size: #{$value}rem;
    }
};

@each $value in $font-weight {
    .font-#{$value} {
        font-weight: #{$value};
    }
};
