// color
$first-color: #2196f7;
$second-color: #c0418c;
$third-color: #76c869;
$second-circle: #2c2e3d;
$lg-color: #748590;
$sm-color: #99a9b5;
$detail-text-color: #5f727f;
$detail-bg-color: #f4f6f7;

// background
$images: ('ocean' $first-color white), ('mountain' $second-color $second-circle), ('forest' $third-color white);

// font-size
$font-size: (12, 14, 16, 18, 20, 24, 30, 40, 60, 70, 80, 90);

// font-weight
$font-weight: (normal, bold, 200, 400, 300, 700);

// padding - margin
$size-pm: (1, 1.25, 1.5, 1.75, 2, 2.25, 2.5, 2.75, 3, 3.25, 3.5, 3.75, 4, 4.25, 4.5, 4.75, 5);