$primary: #2196f7;
$second: #c0418c;
$third: #76c869;
$second-circle: #2c2e3d;
$lg-color: #748590;
$sm-color: #99a9b5;
$detail-text-color: #5f727f;
$detail-bg-color: #f4f6f7;

$images: ('mountain' $second $second-circle), ('forest' $third white);
